{% extends 'emails/layout.html.twig' %}

{% block content %}
	<h2>Olá
		{{ usuario.nome }}!</h2>
	<p>Seja bem-vindo à
		<strong>Techlog</strong>. Estamos felizes em ter você conosco!</p>

	<p>Se tiver dúvidas ou quiser saber mais, entre em contato.</p>
	<p>Abraços,<br><strong>Equipe Techlog</strong>
	</p>
{% endblock %}

